<%= render "shared/navbar" %>
<%= render "shared/banner" %>
<div class="container mt-3">
  <div class="row">
    <div class="col-6">
      <div class="cards">
        <%= @bookmark.name %>
        <% if @bookmarks %>
          <% @bookmarks.each do |bookmark| %>
            <%= bookmark.name %>
            <%= render 'bookmarks/card', bookmark: bookmark %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <%= render 'bookmarks/form' %>
    </div>
  </div>
</div>
