<div class="item card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : image_path('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU') %>)">
  <%= @list.name %>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-9">
      <div class="cards">
        <% @list.bookmarks.each do |bookmark| %>
          <%= render 'bookmarks/card', bookmark: bookmark %>
        <% end %>
      </div>
    </div>
    <div class="col-3">
      <%= render 'bookmarks/form' %>
    </div>
  </div>
  <%= link_to root_path, class: "btn btn-warning mt-3" do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
</div>
<%= @list.bookmarks.each do |bookmark| %>
  <%= bookmark.movie.title%>
  <%= bookmark.comment%>
<% end%>
<%= @list.name %>
<%= link_to "Back to lists", lists_path%>
