<%= %>
<div class="card-trip">
  <%= image_tag bookmark.photo %>
  <%= link_to films_path(film), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
    <i class="fa-solid fa-trash"></i>
  <% end %>
  <div class="card-trip-infos">
    <div>
      <h2><%= @film.name %></h2>
    </div>
    <h2 class="card-trip-pricing"><%= @film.name %></h2>
  </div>
</div>
